<div class="video-tile">
  <video class="listing-video" width="320" height="240" controls>
    <source [src]="video.imagepath" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <h3 class="title">{{ video.title }}</h3>
  <p class="description">{{ video.description }}</p>

  <div style="margin-top:-10px; display:flex;"><span class="location">Location:</span><span class="locationval">
      {{ video.location }}</span>
    <div style="margin-left: 110px;"><span class="category">Category:</span>
        <span
        class="categoryval">
        {{ video.category }}</span></div>
  </div>
  <div style="display: flex;">
    <span class="subcategory">SubCategory:</span>
    <span class="subcategoryval">
      {{ video.subcatagory }}</span>
      <div style="margin-left: 92px;"><span class="category">Date:</span>
        <span
        class="categoryval">
        {{ formatVideoDate()}}</span></div>
    </div>
    <div style="display:flex; margin-left: -10px;">
    <div *ngFor="let keyword of splitKeywords()"  class="btn-group" style="position:relative">
      <button class="keywordbtn" >{{ keyword }}</button>
    </div>
  </div>
</div>