<body>
<div class="parent-container">
  </div>
  <div class="heading">Video-Hub Panel</div>
  <div class="form-container">
    <form id="videoUploadForm" enctype="multipart/form-data">
      <label for="videoTitle">Video Title:</label>
      <input type="text" id="name" name="name" placeholder="Write video title here..." required>
      <label for="videoDescription">Video Description:</label>
      <textarea id="description" name="description" rows="4" placeholder="Write video description here..."></textarea>

      <label for="Location">Location</label>
      <input type="text" id="location" name="location" placeholder="Enter Location here...">
      <label for="dropdown1" >Category</label>
      <label for="dropdown2"  style="margin-left: 200px">Sub Category</label>
      <select id="dropdown1" name="dropdown1"  onchange="updateDropdownOptions()">
        <option value="0">Select Category</option>
        <option value="east">East</option>
        <option value="west">West</option>
        <option value="Internal">Internal</option>
      </select>


      <select id="dropdown2" name="dropdown2">
      </select>

      <label for="videoDate">Date</label>
      <input type="date" id="date" name="date">

      <label for="keywords">Keywords</label>
      <input type="text" id="keywords" name="keywords" oninput="updateKeywords()" placeholder="Enter keywords separated by spaces">
      <div class="keyword-container" id="keywordContainer"></div>

      <input id="button" type="submit" value="submit" />
    </form>
    
  </div>
  <div class="upload-container">
    <div class="media-upload">
      <img src="../assets/fileupload.svg" alt="Upload Icon">
      <div id="text2">Select your file! </div>
      <div id="text1">Only videos files supported! </div>
      <div class="file-input-container">
        <div class="file-input-wrapper"> </div>
        <img src="../assets/ppr upload.svg" style="top: 0;left: 0;width: 25px;height: 40px;margin-left: 7px;"
          alt="Browse Icon">
        <div class="file-input-label">
          <label for="videoFile" style="cursor: pointer; color: #FFF; margin-left: 18px">Browse</label>
          <input type="file" id="videoFile" name="videoFile" accept="video/*" required>
        </div>
      </div>




    </div>
  </div>
</body>
